In [1]:
from pyspark.sql import SparkSession

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel\parentpoller.py:116: UserWarning: Parent poll failed.  If the frontend dies,
                the kernel may be left running.  Please let us know
                about your system (bitness, Python, etc.) at
                ipython-dev@scipy.org
  ipython-dev@scipy.org""")

In [2]:
saprk = SparkSession.builder.appName("market").getOrCreate()

In [3]:
df = spark.read.csv("customer_churn.csv",inferSchema=True,header=True)

In [5]:
for x in df.head(7):
    print(x)
    print("\n")

Row(Names='Cameron Williams', Age=42.0, Total_Purchase=11066.8, Account_Manager=0, Years=7.22, Num_Sites=8.0, Onboard_date=datetime.datetime(2013, 8, 30, 7, 0, 40), Location='10265 Elizabeth Mission Barkerburgh, AK 89518', Company='Harvey LLC', Churn=1)


Row(Names='Kevin Mueller', Age=41.0, Total_Purchase=11916.22, Account_Manager=0, Years=6.5, Num_Sites=11.0, Onboard_date=datetime.datetime(2013, 8, 13, 0, 38, 46), Location='6157 Frank Gardens Suite 019 Carloshaven, RI 17756', Company='Wilson PLC', Churn=1)


Row(Names='Eric Lozano', Age=38.0, Total_Purchase=12884.75, Account_Manager=0, Years=6.67, Num_Sites=12.0, Onboard_date=datetime.datetime(2016, 6, 29, 6, 20, 7), Location='1331 Keith Court Alyssahaven, DE 90114', Company='Miller, Johnson and Wallace', Churn=1)


Row(Names='Phillip White', Age=42.0, Total_Purchase=8010.76, Account_Manager=0, Years=6.71, Num_Sites=10.0, Onboard_date=datetime.datetime(2014, 4, 22, 12, 43, 12), Location='13120 Daniel Mount Angelabury, WY 30645-4695', Company='Smith Inc', Churn=1)


Row(Names='Cynthia Norton', Age=37.0, Total_Purchase=9191.58, Account_Manager=0, Years=5.56, Num_Sites=9.0, Onboard_date=datetime.datetime(2016, 1, 19, 15, 31, 15), Location='765 Tricia Row Karenshire, MH 71730', Company='Love-Jones', Churn=1)


Row(Names='Jessica Williams', Age=48.0, Total_Purchase=10356.02, Account_Manager=0, Years=5.12, Num_Sites=8.0, Onboard_date=datetime.datetime(2009, 3, 3, 23, 13, 37), Location='6187 Olson Mountains East Vincentborough, PR 74359', Company='Kelly-Warren', Churn=1)


Row(Names='Eric Butler', Age=44.0, Total_Purchase=11331.58, Account_Manager=1, Years=5.23, Num_Sites=11.0, Onboard_date=datetime.datetime(2016, 12, 5, 3, 35, 43), Location='4846 Savannah Road West Justin, IA 87713-3460', Company='Reynolds-Sheppard', Churn=1)

In [6]:
from pyspark.sql.functions import corr

In [15]:
df.select(corr("Churn", "Num_Sites")).show()

+----------------------+
|corr(Churn, Num_Sites)|
+----------------------+
|    0.5253980778988574|
+----------------------+

In [17]:
df.columns

['Names',
 'Age',
 'Total_Purchase',
 'Account_Manager',
 'Years',
 'Num_Sites',
 'Onboard_date',
 'Location',
 'Company',
 'Churn']

In [16]:
from pyspark.ml.feature import VectorAssembler

In [22]:
vr = VectorAssembler(outputCol="feature",inputCols=['Age','Total_Purchase','Account_Manager','Years','Num_Sites'])

In [26]:
final = vr.transform(df)
final.show()

+-------------------+----+--------------+---------------+-----+---------+-------------------+--------------------+--------------------+-----+--------------------+
|              Names| Age|Total_Purchase|Account_Manager|Years|Num_Sites|       Onboard_date|            Location|             Company|Churn|             feature|
+-------------------+----+--------------+---------------+-----+---------+-------------------+--------------------+--------------------+-----+--------------------+
|   Cameron Williams|42.0|       11066.8|              0| 7.22|      8.0|2013-08-30 07:00:40|10265 Elizabeth M...|          Harvey LLC|    1|[42.0,11066.8,0.0...|
|      Kevin Mueller|41.0|      11916.22|              0|  6.5|     11.0|2013-08-13 00:38:46|6157 Frank Garden...|          Wilson PLC|    1|[41.0,11916.22,0....|
|        Eric Lozano|38.0|      12884.75|              0| 6.67|     12.0|2016-06-29 06:20:07|1331 Keith Court ...|Miller, Johnson a...|    1|[38.0,12884.75,0....|
|      Phillip White|42.0|       8010.76|              0| 6.71|     10.0|2014-04-22 12:43:12|13120 Daniel Moun...|           Smith Inc|    1|[42.0,8010.76,0.0...|
|     Cynthia Norton|37.0|       9191.58|              0| 5.56|      9.0|2016-01-19 15:31:15|765 Tricia Row Ka...|          Love-Jones|    1|[37.0,9191.58,0.0...|
|   Jessica Williams|48.0|      10356.02|              0| 5.12|      8.0|2009-03-03 23:13:37|6187 Olson Mounta...|        Kelly-Warren|    1|[48.0,10356.02,0....|
|        Eric Butler|44.0|      11331.58|              1| 5.23|     11.0|2016-12-05 03:35:43|4846 Savannah Roa...|   Reynolds-Sheppard|    1|[44.0,11331.58,1....|
|      Zachary Walsh|32.0|       9885.12|              1| 6.92|      9.0|2006-03-09 14:50:20|25271 Roy Express...|          Singh-Cole|    1|[32.0,9885.12,1.0...|
|        Ashlee Carr|43.0|       14062.6|              1| 5.46|     11.0|2011-09-29 05:47:23|3725 Caroline Str...|           Lopez PLC|    1|[43.0,14062.6,1.0...|
|     Jennifer Lynch|40.0|       8066.94|              1| 7.11|     11.0|2006-03-28 15:42:45|363 Sandra Lodge ...|       Reed-Martinez|    1|[40.0,8066.94,1.0...|
|       Paula Harris|30.0|      11575.37|              1| 5.22|      8.0|2016-11-13 13:13:01|Unit 8120 Box 916...|Briggs, Lamb and ...|    1|[30.0,11575.37,1....|
|     Bruce Phillips|45.0|       8771.02|              1| 6.64|     11.0|2015-05-28 12:14:03|Unit 1895 Box 094...|    Figueroa-Maynard|    1|[45.0,8771.02,1.0...|
|       Craig Garner|45.0|       8988.67|              1| 4.84|     11.0|2011-02-16 08:10:47|897 Kelley Overpa...|     Abbott-Thompson|    1|[45.0,8988.67,1.0...|
|       Nicole Olson|40.0|       8283.32|              1|  5.1|     13.0|2012-11-22 05:35:03|11488 Weaver Cape...|Smith, Kim and Ma...|    1|[40.0,8283.32,1.0...|
|     Harold Griffin|41.0|       6569.87|              1|  4.3|     11.0|2015-03-28 02:13:44|1774 Peter Row Ap...|Snyder, Lee and M...|    1|[41.0,6569.87,1.0...|
|       James Wright|38.0|      10494.82|              1| 6.81|     12.0|2015-07-22 08:38:40|45408 David Path ...|      Sanders-Pierce|    1|[38.0,10494.82,1....|
|      Doris Wilkins|45.0|       8213.41|              1| 7.35|     11.0|2006-09-03 06:13:55|28216 Wright Moun...|Andrews, Adams an...|    1|[45.0,8213.41,1.0...|
|Katherine Carpenter|43.0|      11226.88|              0| 8.08|     12.0|2006-10-22 04:42:38|Unit 4948 Box 481...|Morgan, Phillips ...|    1|[43.0,11226.88,0....|
|     Lindsay Martin|53.0|       5515.09|              0| 6.85|      8.0|2015-10-07 00:27:10|69203 Crosby Divi...|      Villanueva LLC|    1|[53.0,5515.09,0.0...|
|        Kathy Curry|46.0|        8046.4|              1| 5.69|      8.0|2014-11-06 23:47:14|9569 Caldwell Cre...|Berry, Orr and Ca...|    1|[46.0,8046.4,1.0,...|
+-------------------+----+--------------+---------------+-----+---------+-------------------+--------------------+--------------------+-----+--------------------+
only showing top 20 rows

In [28]:
final = final.select("feature","Churn")

In [29]:
train,test = final.randomSplit([0.7,0.3])

In [30]:
from pyspark.ml.classification import LogisticRegression

In [31]:
lr = LogisticRegression(featuresCol='feature', labelCol='Churn')

In [32]:
lr = lr.fit(train)

In [36]:
ev = lr.evaluate(test)

In [38]:
ev.predictions.show()

+--------------------+-----+--------------------+--------------------+----------+
|             feature|Churn|       rawPrediction|         probability|prediction|
+--------------------+-----+--------------------+--------------------+----------+
|[22.0,11254.38,1....|    0|[4.89190325667922...|[0.99254881604717...|       0.0|
|[25.0,9672.03,0.0...|    0|[4.72175971952768...|[0.99117899841009...|       0.0|
|[26.0,8787.39,1.0...|    1|[0.70099174355070...|[0.66840761779228...|       0.0|
|[29.0,5900.78,1.0...|    0|[4.26530204873259...|[0.98614697860257...|       0.0|
|[29.0,9378.24,0.0...|    0|[4.83260951989280...|[0.99209724359686...|       0.0|
|[29.0,10203.18,1....|    0|[3.92340843896060...|[0.98060983041718...|       0.0|
|[30.0,6744.87,0.0...|    0|[3.49443352613117...|[0.97052897058095...|       0.0|
|[30.0,7960.64,1.0...|    1|[3.45529992700508...|[0.96938880333129...|       0.0|
|[30.0,8403.78,1.0...|    0|[6.26324058534184...|[0.99809856009535...|       0.0|
|[30.0,10183.98,1....|    0|[3.05200078990359...|[0.95486882776985...|       0.0|
|[30.0,11575.37,1....|    1|[4.18853828740309...|[0.98505820318004...|       0.0|
|[30.0,12788.37,0....|    0|[2.53897728291226...|[0.92682949967328...|       0.0|
|[30.0,13473.35,0....|    0|[2.81369126889893...|[0.94341120597589...|       0.0|
|[31.0,7073.61,0.0...|    0|[3.03598229374542...|[0.95417346936607...|       0.0|
|[32.0,5756.12,0.0...|    0|[4.15911943052831...|[0.98461896437547...|       0.0|
|[32.0,7896.65,0.0...|    0|[3.28705360086050...|[0.96398199278230...|       0.0|
|[32.0,9036.27,0.0...|    0|[-0.5054852010526...|[0.37625249470306...|       1.0|
|[32.0,9885.12,1.0...|    1|[1.78772224821387...|[0.85664779040248...|       0.0|
|[32.0,10716.75,0....|    0|[4.45989166705950...|[0.98856857269487...|       0.0|
|[32.0,11540.86,0....|    0|[7.03542039315744...|[0.99912062590051...|       0.0|
+--------------------+-----+--------------------+--------------------+----------+
only showing top 20 rows

In [39]:
from pyspark.ml.evaluation import BinaryClassificationEvaluator

In [46]:
bce = BinaryClassificationEvaluator(labelCol='Churn',rawPredictionCol='prediction')

In [47]:
bce = bce.evaluate(ev.predictions)

In [48]:
bce

0.7335750384530872

## Importing TestSet New-dataset

In [49]:
flr = LogisticRegression(featuresCol='feature', labelCol='Churn')

In [50]:
flr = flr.fit(final)

In [52]:
finalt =spark.read.csv("new_customers.csv",inferSchema=True,header=True)

In [53]:
finalt = vr.transform(finalt)

In [59]:
lrt= flr.transform(finalt)

In [60]:
lrt.columns

['Names',
 'Age',
 'Total_Purchase',
 'Account_Manager',
 'Years',
 'Num_Sites',
 'Onboard_date',
 'Location',
 'Company',
 'feature',
 'rawPrediction',
 'probability',
 'prediction']

In [62]:
lrt.select('Company','prediction').show()

+----------------+----------+
|         Company|prediction|
+----------------+----------+
|        King Ltd|       0.0|
|   Cannon-Benson|       1.0|
|Barron-Robertson|       1.0|
|   Sexton-Golden|       1.0|
|        Wood LLC|       0.0|
|   Parks-Robbins|       1.0|
+----------------+----------+